<h1 class='my-5'>Diarista {{diarista.nome}} ID:{{diarista.id}}</h1>

<p><b>NOME:</b> {{diarista.nome}}</p>
<p><b>ENDEREÇO:</b> {{diarista.endereco}}</p>
<p><b>IDADE:</b> {{diarista.idade}}</p>

<button
  class='btn btn-sm btn-outline-secondary mt-2'
  type='button'
  onclick='history.back()'
>
  Voltar
</button>